# Dependencies
node_modules

# Build outputs
dist

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker files
Dockerfile
.dockerignore
docker-compose.yml

# CI/CD
.github

# Logs
*.log
logs/

# Environment files
.env*
