@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: hsl(0 0% 7%);
  --color-primary: hsl(0 0% 100%);
  --color-secondary: hsl(0 2% 70%);
  --color-accent: hsl(0 0% 62%);
  --radius: 0.5rem;
  
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-heading: ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
