---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dylan van Heerden">
  <main class="ml-[10%] h-screen pt-24 md:ml-[20%]">
    <div>
      <h2 class="text-primary">Dylan van Heerden</h2>
      <p>Software Engineer</p>
      <p>Cape Town, South Africa</p>
    </div>
  </main>
</Layout>
