---
const { title, technologies, href } = Astro.props as ProjectItem;
---

<div class="grid-rows grid gap-2">
  <div
    class="text-primary underline hover:cursor-pointer hover:text-primary/40"
  >
    <a
      href={href}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline-offset-2"
      aria-label={`${title} link`}
    >
      {title}
    </a>
  </div>
  <div class="text-accent">
    {
      technologies.map((tech, index) => (
        <span>
          {tech}
          {index < technologies.length - 1 ? <span class="px-2">•</span> : ""}
        </span>
      ))
    }
  </div>
</div>
