---
const { name, href } = Astro.props;
---

<a href={href}>
  <div
    class="inline-block rounded-lg bg-accent px-3 py-1 font-bold text-primary hover:cursor-pointer hover:bg-accent/75"
  >
    {name}
  </div>
  </a
</a>
