---
const { name, href } = Astro.props;
---

<a
  href={href}
  class="inline-block rounded bg-accent px-3 py-1 text-sm font-bold text-primary hover:cursor-pointer hover:bg-accent/75"
>
  {name}
</a>
