---
const { name, href } = Astro.props;
---

<a
  href={href}
  class="text-secondary hover:text-primary text-sm transition-colors duration-150"
  target="_blank"
  aria-label={`${name} link`}
  rel="noopener noreferrer"
>
  {name}
</a>
